@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideOut {
  from {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.animate-slide-out {
  animation: slideOut 0.45s cubic-bezier(0.7, 0, 0.3, 1) 0.45s forwards;
}


@layer base {
  :root {
    --background: 30 50% 96%;
    --foreground: 20 30% 15%;
    --card: 0 0% 100%;
    --card-foreground: 20 10% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 10%;
    --primary: 20 10% 10%; 
    --primary-foreground: 0 0% 100%;
    --secondary: 30 10% 90%;
    --secondary-foreground: 20 10% 10%;
    --muted: 30 10% 96%;
    --accent: 30 10% 94%;
    --accent-foreground: 20 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 5% 80%;
    --input: 20 5% 90%;
    --ring: 20 10% 10%;
    --radius: 0.5rem;
    --muted-foreground: 30 3% 29%;
    --cardsound: 0 0% 85%;
    --minicardsound: 0 0% 66%;
    --inputurl: 0 0% 68%;
    --edittask: 43 27% 56%;
    --pomodoro: 0 35% 64%;
    --notes: 34 22% 53%;
    --cronometro: 211 23% 61%;
    --calendarletter: 0 0% 98%;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 16.5%; 
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 22.7%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 29%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 29%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 29%;
    --input: 0 0% 29%;
    --ring: 0 0% 83.1%;

    --chart-1: 5 83% 73%;
    --chart-2: 158 52% 78%;
    --chart-3: 54 100% 81%;
    --chart-4: 271 81% 83%;
    --chart-5: 210 56% 78%;

    --cardsound: 0 0% 18%;
    --minicardsound: 0 0% 12%;
    --inputurl: 0 0% 23%;

    --edittask: 41 27% 38%;
    --pomodoro: 0 29% 33%;
    --notes: 35 22% 34%;
    --cronometro: 218 17% 35%;
    --calendarletter: 20 30% 15%;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
